.search-input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    // margin-right: 10px;
    background-color: transparent;
    color: white;
}

.btn-search {
    line-height: 0 !important;
    border-radius: 0 !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #ff9265 !important;
}

.navbar-height {
    background-color: #334b6a;
    height: 65px;
}

.home_slide {
    width: 100%;
    height: 450px;
}

.menu_list_title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 15px;
}


::placeholder {
    color: white;
    opacity: 1;
    font-family: cursive;
    font-size: 12px;
}

.serach_label {
    color: white;
    font-style: italic;
}

@media (max-width: 600px) {
    .navbar-height {
        background-color: #334b6a;
        height: 95px;
    }
}



.container {
    width: 100%;
    text-align: center;
    margin-top: 25vh;
}

.circle {
    stroke: #f8aa28;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
}

.playBut {
    /*  border: 1px solid red;*/
    display: inline-block;
    -webkit-transition: all 0.5s ease;

    .triangle {
        -webkit-transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: rgb(248, 245, 245);
        transform: translateY(0)
    }


    &:hover {

        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: #f8aa28;
            animation: nudge 0.7s ease-in-out;

            @keyframes nudge {
                0% {
                    transform: translateX(0)
                }

                30% {
                    transform: translateX(-5px)
                }

                50% {
                    transform: translateX(5px)
                }

                70% {
                    transform: translateX(-2px)
                }

                100% {
                    transform: translateX(0)
                }
            }
        }

        .circle {
            stroke-dashoffset: 0;
            opacity: 1;
        }
    }
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(161, 88, 88);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

// =============================
// Global
// =============================

html,
body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}



// =============================
// Loader
// =============================

$loader-colors: dodgerblue, mediumspringgreen, crimson, peachpuff, chocolate, pink;
$loader-dash: 63;
$loader-duration: length($loader-colors) * 1s;
$loader-duration-alt: $loader-duration / length($loader-colors);
$loader-keyframe: 1 / (length($loader-colors) * 2) * 100;

.loader {
    animation: loader-turn $loader-duration-alt linear infinite;
    padding: 1rem;
    max-width: 60px;
    width: 100%;

    @keyframes loader-turn {
        50% {
            transform: rotate(180deg)
        }

        100% {
            transform: rotate(720deg)
        }
    }
}

.loader__value {
    animation: loader-stroke $loader-duration linear infinite;
    fill: none;
    stroke-dasharray: $loader-dash;
    stroke-dashoffset: $loader-dash;
    stroke-linecap: round;
    stroke-width: 4;

    @for $i from 1 through length($loader-colors) {
        &:nth-child(#{$i}) {
            stroke: nth($loader-colors, $i);

            @if $i >1 {
                animation-delay: ($i - 1) * $loader-duration-alt;
            }
        }
    }

    @keyframes loader-stroke {
        #{$loader-keyframe * 1%} {
            stroke-dashoffset: 0
        }

        #{$loader-keyframe * 2%},
        100% {
            stroke-dashoffset: $loader-dash
        }
    }
}


// from here

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(19, 13, 13);
}

.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}