<!-- <div *ngIf="isLoading" class="cw-loading-overlay" style="background-color: black;">
    <svg class="loader" viewBox="0 0 24 24" style="margin-left:45%;margin-top:20%">
        <circle class="loader__value" cx="12" cy="12" r="10" />
        <circle class="loader__value" cx="12" cy="12" r="10" />
        <circle class="loader__value" cx="12" cy="12" r="10" />
        <circle class="loader__value" cx="12" cy="12" r="10" />
        <circle class="loader__value" cx="12" cy="12" r="10" />
        <circle class="loader__value" cx="12" cy="12" r="10" />
    </svg>
</div> -->
<div *ngIf="isLoading" class="loading">
    <div class="loader"></div>
</div>
<div *ngIf="!isLoading" class="container-fluid">
    <div class="row navbar navbar-height">
        <!-- Image and text -->
        <div class="col-md-6">
            <nav>
                <span class="navbar-brand logo">
                    <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Movie Makers
                </span>
            </nav>
        </div>

        <div class="col-md-3">
            <div>
                <input style="border-radius:0px;margin-top: 1px;" class="search-input mr-sm-2"
                    (input)="onSearchMovieInput()" (keyup.enter)="onClickSearch()" [(ngModel)]="strSearch"
                    placeholder="Search Movies">
                <button (click)="onClickSearch()" class="btn btn-search" type="reset">
                    <mat-icon style="color:white">search</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding:0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 home_slide"
                            src="https://www.teahub.io/photos/full/67-670663_hollywood-movie-poster-hd.jpg"
                            alt="First slide">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background:black">
        <div class="col-md-12">
            <label class="menu_list_title">Trending</label>
        </div>

        <div class="row mb-4" style="padding-left: 30px;">
            <div class="col-md-3 mt-4" *ngFor="let itemMovie of arrMovie.results">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height: 150px;"
                        src="https://pixelz.cc/wp-content/uploads/2019/12/terminator-dark-fate-poster-uhd-4k-wallpaper-548x308.jpg"
                        alt="Card image cap">
                    <div class="card-body" (click)="onClickMovie(itemMovie)" style="background-color:#1f375a">
                        <div class="row">
                            <div class="col-md-9">
                                <h5 [title]="itemMovie.original_title?.length > 15?itemMovie.original_title:''"
                                    class="card-title" style="color: white;">
                                    {{itemMovie?.original_title | slice:0:15}} {{itemMovie.original_title?.length > 15 ?
                                    '...' :''}}
                                </h5>
                                <div class="card-text" style="color: white;">
                                    <mat-icon style="color:gold">star</mat-icon>
                                    <span>{{itemMovie.vote_average}}/10 </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a class='playBut'>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                                        width="50px" height="50px" viewBox="0 0 213.7 213.7"
                                        enable-background="new 0 0 213.7 213.7" xml:space="preserve">

                                        <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            points="
                                                73.5,62.5 148.5,105.8 73.5,149.1 " />

                                        <circle class='circle' id="XMLID_17_" fill="none" stroke-width="7"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            cx="106.8" cy="106.8" r="103.3" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12" style="text-align: center">
                <div *ngIf="intTotalPage>0" class="pagination" style="cursor:pointer">
                    <a (click)="onClickPage(intActivePage - 1)">&laquo;</a>
                    <a [ngClass]="{'active': intActivePage === item}" *ngFor="let item of arrPagination"
                        (click)="onClickPage(item)">{{item}}</a>
                    <a (click)="onClickPage(intActivePage + 1)">&raquo;</a>
                </div>
                <div *ngIf="intTotalPage==0">
                    <label class="serach_label">No Search Found</label>
                </div>
            </div>
        </div>
    </div>
</div>