<div *ngIf="isLoading" class="loading">
    <div class="loader"></div>
</div>

<div *ngIf="!isLoading" class="container-fluid">
    <div class="row navbar detail_nav">
        <!-- Image and text -->
        <div class="col-md-6">
            <nav>
                <span class="navbar-brand logo">
                    <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Movie Makers
                </span>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 detail_background">
            <div class="row mt-5">
                <div class="col-md-5 mt-5 detial_div">

                    <mat-icon class="mt-5 mb-5 back_arrows" (click)="onClickBack()">arrow_back</mat-icon>

                    <label class="title_card">
                        Title : {{arrMovie.original_title}}
                    </label><br>
                    <label class="mt-1 card_details">Rating: <span style="margin-left: 20px;">
                            {{arrMovie.vote_average}}/10</span> </label><br>
                    <label class="mt-1 card_details">{{arrMovie.overview}}</label><br>
                    <label class="mt-1 card_details">Release Date: <span
                            style="margin-left: 20px;">{{arrMovie.release_date}}</span></label><br>
                    <label class="mt-1 card_details">Original Language:
                        <span style="margin-left: 20px;"> {{arrMovie.original_language}}</span></label>
                </div>
            </div>

        </div>
    </div>
</div>