.title_card {
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: cursive;
}

.card_details {
    color: rgb(235, 222, 222);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.back_arrows {
    color: white;
    cursor: pointer;
}

.detial_div {
    height: 495px;
    padding-left: 10%;
}

.detail_background {
    background-image: url('https://wallpaperaccess.com/full/4135068.png');
    height: 100%;
    width: 100%;
}

.detail_nav {
    background-color: #243c5d;
    height: 80px;
}